@import "./vars.css";


:fullscreen a {
    display: flex;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color);
}

h1, h2, h3, h4, p {
  font-family: 'Josefin Slab', serif;
  font-weight: var(--main-font-weight);
}

#loading-overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--contrast-color);
  background-color: var(--main-color);
  z-index: 500;
}

#threejs-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  z-index: -10;
  transform: translate3d(0,0,0);
}

.fullscreen-panel {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content-section {
  font-size: responsive calc(4 * var(--base))  calc(8 * var(--base));
  color: var(--contrast-color);
  position: relative;
  text-align: center;
  /*display: none;*/
}

.sun {
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 250px;
}

.behind {
  position: relative;
  z-index: -20;
}

.sun-panel{
  align-items: flex-start;
  padding-top: 8px;
  height: calc(100vh - 8px);
}
